.Damas {
    position: absolute;
    left: 10%;
    color: orange;
}

#chicken {
    position: absolute;
    right: 0%;
    top: 10%;
    width: 20%;
    height: auto;
}

#connection {
    position: absolute;
    right: 5%;
    font-size: 22px;
}