.Damas {
    position: absolute;
    left: 10%;
    color: orange;
}

#chicken {
    position: absolute;
    right: 0%;
    top: 10%;
    width: 20%;
    height: auto;
}

#connection {
    position: absolute;
    right: 5%;
    font-size: 22px;
}

#goBackHome {
    position: relative;
    font-size: 22px;
    color: black;
    text-decoration: none;
    border: solid 2px blue;
    padding: 3px;
}

#preElFormulaire {
    position: absolute;
    left: 20%;
    top: 15%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: rgb(168, 156, 236);
    width: 30%;
}

#elFormulaire {
    position: relative;
    padding-top: 2%;
    left: 15%;
}

#elFormulaireSubmit {
    margin-left: 40%;
    margin-top: 7%;
}

#elFormulaireLogo {
    margin-left: 5%;
    margin-top: -3%;
    padding-bottom: 5%;
}

.containerDivs {
    position: absolute;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    height: 500px;
    margin-left: 25vw;
    margin-top: 25vh;
}

.span {
    background-color: red;
}

.span,
.spanm {
    width: 20px;
    height: 20px;
}

.spanm {
    background-color: blue;
}